@{
    ViewData["Title"] = "FAQ Page";
}
<h1>@ViewData["Title"]</h1>


<p>This page contains some of the most frequently asked questions about this web application.</p>

<p><b>Q:</b> Who made this application?</p>

<p>A: Michael Rahe, Shelby Miller, and Zhiwei Jin</p>

<p><b>Q:</b> What is this program written in?</p>

<p>A: We used the C#.NET to make this application.</p>

<p><b>Q:</b> When will this project be done?</p>

<p>A: November 16, 2020</p>


