@{
    ViewData["Title"] = "Login";
    //int value = 1;


}


@functions{
    void temp()
    {
        <script>alert("WORK IN PROGRESS");</script>
    }
}

<h1>@ViewData["Title"]</h1>

<p><b>Please enter in your login credentials: </b></p>

<br>
  Email:
<input type="text" id="userInput" ng-model="Email">
<br>
  Password:
<input type="text" id="userInput" ng-model="Password">
<br>

<button id="login" type="button" class="btn btn-success btn-lg" onclick="">Login</button>

